.Footer {
    border-top: 1px solid gray;
    padding: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.Footer h5 {
    padding: 0px;
    margin: 0px;
}
.Footer button {
    font-size: 14px;
    text-transform: uppercase;
    margin: 2px;
}
.Footer button.blue {
    background-color: rgb(2, 19, 116);
    color: #eee;
}
.Footer button.green {
    background-color: rgba(0, 128, 49, 0.397);
    color: #333;
}