.ProductItem {
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 0s;
}
.ProductItem.visible {
  opacity: 1;
}
.ProductItem button {
  width: 100%;
  border: 1px solid #27ae60;
  color: #27ae60;
  cursor: pointer;
}
.ProductItem button:hover {
  border: 1px solid #9b0d14 !important;
  color: #9b0d14 !important;
}
.ProductItem button.Added {
  border: 1px solid #9b0d14 !important;
  color: #9b0d14 !important;
}
